<template>
	<div>
		<div>
			first name:
			<input
					type="text"
					v-model="firstName"
			>
		</div>
		<br>
		<div>
			second name:
			<input
					type="text"
					v-model="secondName"
			>
		</div>
		<p>
			first name:
			{{firstName}}
		</p>
		<p>
			second name:
			{{secondName}}
		</p>
		<p>
			full name:
			{{fullName}}
		</p>
	</div>
</template>

<script>
    export default {
        name: "Lesson2",
        data() {
            return {
                firstName: '',
                secondName: '',
			}
        },
		computed: {
            fullName: function () {
				return this.firstName + " " + this.secondName;
            }
		}
    }
</script>

<style scoped>

</style>