<template>
	<div>
		<div>
			first name:
			<input
					type="text"
					v-model="firstName"
			>
		</div>
		<br>
		<div>
			second name:
			<input
					type="text"
					v-model="secondName"
			>
		</div>
		<p>
			first name:
			{{firstName}}
		</p>
		<p>
			second name:
			{{secondName}}
		</p>
		<h1>
			{{fullname}}
		</h1>
		<div>
			full name: <input type="text" v-model="fullname">
		</div>
	</div>
</template>

<script>
    export default {
        name: "Lesson2",
        data() {
            return {
                firstName: '',
                secondName: '',
            }
        },
        computed: {
            fullname: {
                // getter function 
                get: function() {
                    return this.firstName + " " + this.secondName;
                },
				set: function (value) {
					let name = value.split(' ')
					this.firstName = name[0]
					this.secondName = name[name.length - 1]
                }
            }
        }
    }
</script>

<style scoped>

</style>