<template>
	<div>
		<h2>{{price}}</h2>
		<h2>{{number}}</h2>
		<button @click="add">
			plus
		</button>
		<button @click="minus">
			minus
		</button>
	</div>
</template>

<script>
    export default {
        name: "Lesson2",
        data() {
            return {
                number: 10
            }
        },
		methods: {
            add(){
                return this.number += 10
			},
            minus(){
                return this.number -= 10
            }
		},
        computed: {
            price: function () {
				if(this.number >= 200){
				    return 'pro'
				} else if (this.number >= 100){
				    return 'imtermediate'
				} else if (this.number >= 0){
                    return 'banned'
                }
            }
        }
    }
</script>

<style scoped>

</style>