<template>
	<div>
		my name is <input type="text" v-model="name">


		<h4>second example</h4>
		your name <input type="text" v-model="yourName">
		your age <input type="text" v-model="age">
		<button @click="save">save</button>



	</div>
</template>

<script>
    export default {
        name: "Lesson2",
        data() {
            return {
                name: '',
				yourName: '',
				age: '',
            }
        },
		mounted(){
          if (localStorage.name) {
              this.name = localStorage.name
		  };
          if(localStorage.yourName){
              this.yourName = localStorage.yourName
		  };
            if(localStorage.age){
                this.age = localStorage.age
            };
		},
		methods: {

            save(){
                localStorage.yourName = this.yourName;
                localStorage.age = this.age
			}
		},
		watch:{
          name(newName){
              localStorage.name = newName
		  }
		},
        computed: {

        }
    }
</script>

<style scoped>

</style>