<template>
  <div class="about">
   <div class="users">
     <button @click="fetchUsers">
       Fetch Users
     </button>
     <input type="text"
            class="add-search-input"
            v-model="newUser"
            @keyup.enter="addUser"
     >
   </div>

    <div>
      <p v-if="submitting">
        submitting...
      </p>
      <h4 v-if="loading">Loading...</h4>
      <p v-if="validName">Good to go! </p>
      <ul>
       <li v-for="(user, index) in users">
         {{index+1}} - {{user.name}}
       </li>
      </ul>
    </div>

  </div>
</template>
<script>
  export default {
    name: "",
    data() {
      return {
        users: [],
        loading: false,
        submitting: false,
        newUser: '',
        validName: false
      }
    },
    methods: {
      fetchUsers() {
        this.loading = true;
        this.users = [];
        axios.get('https://jsonplaceholder.typicode.com/users')
                .then((response)=>{
                  const data = response.data; // [{}, {}]
                  this.users = data;
                  this.loading = false;
                })
      },
      addUser() {
        this.submitting = true;
        axios.post('https://jsonplaceholder.typicode.com/users', {
          name: this.newUser,
        })
                .then((response) => {
                 const data = response.data;
                   this.users.unshift(data);
                   this.newUser = '';
                   this.submitting = false;
                });
      }
    },
    watch: {
      newUser: function (newValue) {
        if (newValue.length > 5){
          this.validName = true;
        } else if (newValue.length <= 5) {
          this.validName = false;
        }
      }
    }
  }
</script>

<style scoped>

</style>