<template>
	<div>
		<div>
			<h1>cats</h1>
			<div v-for="(cat,n) in cats">
				<p>
					<span>{{cat}}</span> <span @click="removeCat(n)" style="background-color: antiquewhite">remove</span>
				</p>
			</div>

			<p>
				<input v-model="newCat">
				<button @click="addCat" @keyup.enter="addCat">
					add cat
				</button>
			</p>
		</div>
	</div>
</template>

<script>
    export default {
        name: "no",
        data() {
            return {
                cats: [],
				newCat: null
            }
        },
        mounted(){
            if(localStorage.getItem('cats')){
                try {
					this.cats = JSON.parse(localStorage.getItem('cats'));
                } catch (e) {
					localStorage.removeItem('cats');
                }
			}
        },
        methods: {
            addCat(){
                if(!this.newCat) return;
                this.cats.push(this.newCat);
                this.newCat = '';
                this.saveCats();
			},
            removeCat(x){
                this.cats.splice(x,1);
                this.saveCats();
			},
			saveCats(){
                let parsed = JSON.stringify(this.cats);
                localStorage.setItem('cats', parsed)
			}
        },
        watch:{

        },
        computed: {

        }
    }
</script>

<style scoped>

</style>