<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link>
      <br>
      <router-link to="/lesson1">lesson for watchers in vue js</router-link>
      <br>
      <router-link to="/lesson2">lesson2 for computed in vue js</router-link>
      <br>
      <router-link to="/lesson3">lesson3 for computed in vue js</router-link>
      <br>
      <router-link to="/lesson4">lesson4 for computed in vue js</router-link>
      <br>
      <router-link to="/calculyator">lesson5 for calculyator</router-link>
      <br>
      <router-link to="/lesson-localstorage">lesson for Localstorage</router-link>
      <br>
      <router-link to="/second-localstrorage">second localstorage</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
  .nimadir.collapsed span{
    display: block;
  }
.nimadir span{
  display: none;
}
</style>
